html{
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-color: #14049b; */
    margin: 0;
    padding: 10px;
}

.navbar{
    width: 2000px;
    background-color: #14049b;
    border-radius: 12px;
    padding: 6px;
}

h2{
    color: white;
    font-size: 1rem;
}

a{
    font-weight: 750;
    color: white;
    text-decoration: none;
}